---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title='Johana Ortega | Arquitecta'
	description='Portafolio de arquitecta Johanna Ortega'>
	<main>
		<h1 class="text-red-500">Hola Mundo</h1>
	</main>
</Layout>
