---
import InstagramIcon from "../icons/instagram.astro";
---

<header class="flex z-50 justify-between items-center container left-[50%] -translate-x-[50%] px-6 py-3 my-2 rounded-md border border-gray-100 fixed">
  <a href="/">Johanna Ortega</a>
  <nav class="flex items-center gap-x-8">
    <a href="#work">work</a>
    <a href="#about">about</a>
    <a href="#contact">contact</a>
  </nav>
  <nav class="flex items-center gap-x-1">
    <a href="">
      <InstagramIcon />
    </a>
    <a href="">
      <InstagramIcon />
    </a>
    <a href="">
      <InstagramIcon />
    </a>
  </nav>
</header>