<section
	class='min-h-screen h-dvh text-3xl font-bold flex justify-center items-center'>
	<div class='flex flex-col items-center'>
		<span class='text-5xl mb-4'> Hola, soy Johanna Ortega </span>
		<span>Arquitecta de Loja, Ecuador</span>
	</div>
</section>
