---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={description} />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: 'Futura Pt', sans-serif;
		color: #171717;
		background-color: #f9f9f9;
		scrollbar-gutter: stable;
	}

	@font-face {
		font-family: 'Futura Pt';
		src: url('/fonts/futura-pt/FuturaCyrillicBook.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Futura Pt';
		src: url('/fonts/futura-pt/FuturaCyrillicLight.woff') format('woff');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Futura Pt';
		src: url('/fonts/futura-pt/FuturaCyrillicBold.woff') format('woff');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}
</style>
